## List Comprehension

What is a list comprehension?
● A list comprehension provides a concise way to create another list
● Using list comprehensions reduces the number of code lines making it. It look more 
elegant
● It is possible to use conditions in a list comprehension
● The list comprehension always returns a list

In [1]:
[i**3 for i in [1,2,3,4] if i>2]

[27, 64]

In [5]:
li = [1,2,3,4]

In [1]:
li = [1,2,3,4]

In [4]:
[i**3 for i in li if i>2]

[27, 64]

In [4]:
li = [2,3,4,5]    #[4,9,16,25]
l =[]
for i in li:
    l.append(i**2)
l

[4, 9, 16, 25]

In [5]:
[i**2 for i in li]

[4, 9, 16, 25]

In [10]:
# [2,3,4,5] to [7,8,9,10]
[i+5 for i in li]

[7, 8, 9, 10]

In [ ]:
# Syntax 1:   [value for value in iterable]                
# Syntax 2:   [value for value in iterable if condition]   {used to filter the list}   
# Syntax 3:   [val1 if cond else val2 for i in iterable]   {used to map the values over iterable}

In [1]:
# create a list with multiple of 3 from 1 to 25     --> example ofsyntax 2  
li=[]
for i in range(1,26):
    if i%3==0:
        li.append(i)
li

[3, 6, 9, 12, 15, 18, 21, 24]

In [17]:
[i for i in range(1,26) if i%3==0]   #--> above question

[3, 6, 9, 12, 15, 18, 21, 24]

In [2]:
[i for i in range(10,16)]  # Eg Syntax 1

[10, 11, 12, 13, 14, 15]

In [3]:
[i**2 for i in range(5)]   # Eg Syntax 1

[0, 1, 4, 9, 16]

In [10]:
[i+2 for i in [23,43,56,12,88]] # Eg syntax 1

[25, 45, 58, 14, 90]

In [7]:
[i for i in range(1,21) if i%3==0] # Eg syntax 2

[3, 6, 9, 12, 15, 18]

In [19]:
[i+2 for i in [23,43,56,12,88] if i%2==0] # Eg syntax 2

[58, 14, 90]

In [29]:
li= [2,44,33,56,765]
['Even' if i%2==0 else 'odd' for i in li]

['Even', 'Even', 'odd', 'Even', 'odd']

In [30]:
[i+2 if i%2==0 else i for i in [23,43,56,12,88]] # Eg syntax 3

[23, 43, 58, 14, 90]

In [31]:
['Odd' if i%2==1 else 'Even' for i in [3,6,9,12,18,21,24,27,30]]  # Eg syntax 3

['Odd', 'Even', 'Odd', 'Even', 'Even', 'Odd', 'Even', 'Odd', 'Even']

Q. Print a list between 1 to 50 where all the values are multiple of 3 and 5 both

In [20]:
[i for i in range(1,50) if i%3==0 and i%5==0]

[15, 30, 45]

Q. li = ['Apple','Kiwi','Mango','Banana','Papaya','Pear'] create a list of all the fruits which have 'a' in name

In [11]:
li = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']
[i for i in li if 'a' in i.lower() ]

['Apple', 'Mango', 'Banana', 'Papaya', 'Pear']

Q. Create a new list with the no of characters in each fruit name

In [26]:
li = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']
[len(i) for i in li]

[5, 4, 5, 6, 6, 4]

Q. Print the cube of first 10 numbers

In [27]:
[i**3 for i in range(1,11) ]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [14]:
strings = ['baby','muscle','dalmations101','hulk3','titanic']

Q. strings = ['baby','muscle','dalmations101','hulk3','titanic']  create a list with value alphabet if movie name has only alphabets and 'alphanumber' if movie name has alphabets and number

In [41]:
strings = ['baby','muscle','dalmations101','hulk3','titanic']
['Alphabets' if i.isalpha() else 'Alphanumber' for i in strings]

['Alphabets', 'Alphabets', 'Alphanumber', 'Alphanumber', 'Alphabets']

In [10]:
strings = ['baby','muscle','dalmations101','hulk3','titanic']
['Alphanum' if  i.isalnum() else 'Alpha' for i in strings]

['Alphanum', 'Alphanum', 'Alphanum', 'Alphanum', 'Alphanum']

Q. [-2,9,3,0,7,-4,0,5], create a list with values neg if number is negative pos if number is positive else zero.

In [22]:
li = [-2,9,3,0,7,-4,0,5]

In [21]:
['Even' if i%2==0 else 'Zero' if i ==0 else 'Odd' for i in li]

['Even', 'Odd', 'Odd', 'Odd', 'Even', 'Odd']

In [24]:
['Pos' if i>0 else 'Neg' if i<0 else 'Zero' for i in li]

['Neg', 'Pos', 'Pos', 'Zero', 'Pos', 'Neg', 'Zero', 'Pos']

In [43]:
['Pos' if i>=0 else 'Neg' for i in [-2,9,3,0,7,-4,0,5]]

['Neg', 'Pos', 'Pos', 'Pos', 'Pos', 'Neg', 'Pos', 'Pos']

In [44]:
['Pos' if i>0 else 'Neg' if i<0 else 'zero' for i in [-2,9,3,0,7,-4,0,5]]

['Neg', 'Pos', 'Pos', 'zero', 'Pos', 'Neg', 'zero', 'Pos']

In [49]:
ph = [3,5,8.9,1.2,7,6.3,11,7] # mp acid basic and neutral
['Acid' if i<7 else 'Basic' if i>7 else 'Neutral' for i in ph ]

['Acid', 'Acid', 'Basic', 'Acid', 'Neutral', 'Acid', 'Basic', 'Neutral']

In [3]:
ph = [3,5,8.9,1.2,7,6.3,11,7]
['Acid' if i<7 else 'Basic' if i>7 else 'Neutral' for i in ph]

['Acid', 'Acid', 'Basic', 'Acid', 'Neutral', 'Acid', 'Basic', 'Neutral']

Q. name =['Ajay','Neha', 'Mukesh', 'Swati']
marks = [67,89,90,76]
create a dictionary with two lists using list comprehension

In [27]:
name =['Ajay','Neha', 'Mukesh', 'Swati']
marks = [67,89,90,76]

In [53]:
d={}
for k,v in zip(name,marks):
    d[k] = v
d

{'Ajay': 67, 'Neha': 89, 'Mukesh': 90, 'Swati': 76}

In [32]:
{k:v for k,v in zip(name,marks)}

{'Ajay': 67, 'Neha': 89, 'Mukesh': 90, 'Swati': 76}

In [52]:
{k:v for k,v in zip(name,marks)}

{'Ajay': 67, 'Neha': 89, 'Mukesh': 90, 'Swati': 76}

Q. create a dictionary where key is a fruit name and value is the length of the fruit name
fruit = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']

In [33]:
fruit = ['Apple','Kiwi','Mango','Banana','Papaya','Pear']

In [34]:
{k:len(k) for k in fruit}

{'Apple': 5, 'Kiwi': 4, 'Mango': 5, 'Banana': 6, 'Papaya': 6, 'Pear': 4}

In [66]:
{k:len(k) for k in fruit}

{'Apple': 5, 'Kiwi': 4, 'Mango': 5, 'Banana': 6, 'Papaya': 6, 'Pear': 4}

Q. Create above dictionary of those fruits only which end with 'a'

In [72]:
{k for k in fruit if k.endswith('a') }

{'Banana', 'Papaya'}

Q. create a dictionary where key is a fruit name and value is odd if length of the fruit name is odd else even

In [76]:
{k: 'Even' if len(k)%2==0 else 'odd' for k in fruit }

{'Apple': 'odd',
 'Kiwi': 'Even',
 'Mango': 'odd',
 'Banana': 'Even',
 'Papaya': 'Even',
 'Pear': 'Even'}

In [ ]:
Q [[1,2,3],[1,2,3],[1,2,3]]

In [12]:
[[i for i in range(1,4)] for j in range(3)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [10]:
def codenum():
    for numbers in '12':
         for letters in 'abcd':
            print(max(numbers),max(letters))
codenum()

1 a
1 b
1 c
1 d
2 a
2 b
2 c
2 d