# INTRODUCTION TO PYTHON

## DATA TYPES

### NUMERIC DATA TYPES

#### Integer Data types

we are learning python in juypter noteook

In [3]:
# comment

In [2]:
pwd  # Give present working path (Address)

'D:\\ITP bridge course july 2023'

## DATA TYPES

In [15]:
a = 56

In [16]:
type(56)

int

In [8]:
type(3 + 3J)

complex

In [11]:
type(3.4)

float

In [17]:
type(a)

int

In [24]:
'Krishan'   # String are collection of character defined in inverted commas

'Krishan'

In [25]:
type('Krishan')

str

In [26]:
type('6262')  # Also string because of inverted commas

str

In [30]:
type(False)

bool

In [34]:
type(None)

NoneType

## Variables and Assingment Operator

In [3]:
# Variable are the containers which holds the value
marks = 56.6 # marks is a variable, = is an assingment operator , 56.6 is a float value

In [4]:
marks

56.6

In [6]:
type(marks)

float

In [8]:
type('Krishan')

str

In [ ]:
# Q: Use type() to check the datatypes of the following values
# 78.233    float
# False     boolean
# .0        float
# -321      int
# '892'     str
# 'True'    str
# 89.       float
# 3-7j      complex
# 0J        complex
# None      none type    
#'None'     str

In [38]:
# Rules to define the variable name
# It must be only alphabets of combination alphabets and number
# It should not start from a number
# There must be no spaces in variable names (use _ instead)
# You must avoid the green letter words (reserved keywords)

### Type Casting

In [42]:
# Changing  datatype of a value
# Implicit type casting: arithmatic calculation (+, -, *,/)
# Explicit type casting: float(), int(), str(), bool (), complex ()

In [43]:
67

67

In [45]:
float(67) # int is converted into float

67.0

In [46]:
int(2.9999999999)

2

In [47]:
complex(2)

(2+0j)

### print()

In [49]:
45

45

In [50]:
67
56.32
'Hello'
0.3

0.3

In [51]:
print(45)

45

In [52]:
'Great Learing'    # This is output

'Great Learing'

In [53]:
print('Great Learing')     # This is display

Great Learing

In [55]:
print('Hello')
'My name'
print('Bye')
'Tata'

Hello
Bye

'Tata'

In [62]:
print(45, 56 + 4j, 3.55, 'Hello', True)

45 (56+4j) 3.55 Hello True

In [64]:
a = 'Krishan'
print(a)
a = 'Ankur'
a = 'Naresh'
a

Krishan

'Naresh'

In [65]:
a

'Naresh'

In [66]:
print('Hello', 'My', 'Friend')

Hello My Friend

In [67]:
print('Hello Dear')
print("Hello Dear")
print('''Hello Dear''')

Hello Dear
Hello Dear
Hello Dear

In [71]:
#print I'll be on leave
print("I'll be on leave")

I'll be on leave

In [73]:
# he said "not to do"
print('He said "not to do"')

He said "not to do"

In [74]:
print('''he said "we shouldn't do it"''')

he said "we shouldn't do it"

In [75]:
print('''Hello everyone, my name is krishan
I am from Gurugram
I am a software engineer''')

Hello everyone, my name is krishan
I am from Gurugram
I am a software engineer

In [3]:
print('''To,
Krishan Kumar
HNO. 160 
Sector 46
Gurguram Haryana 122003''')

To,
Krishan Kumar
HNO. 160
Sector 46
Gurguram Haryana 122003

In [4]:
a = 'Krishan'
b = 22
c = 90.6

In [84]:
print('Name of candidate :',a)
print('Age of candidate :',b)
print('Marks of candidate :',c)

Name of candidate : Krishan
Age of candidate : 22
Marks of candidate : 90.6

In [5]:
name = 'Krishan'
print('Hello,', name)

Hello, Krishan

In [11]:
name = input('Please enter your name: ')
print('Hello ', name)

Please enter your name: Krishan
Hello  Krishan

In [12]:
name

'Krishan'

In [16]:
age = int(input('Enter your age: '))

Enter your age: 22

In [17]:
type(age)

int

In [18]:
age

22

In [1]:
name = input('Enter your name: ')
age = input('Enter your age: ')
marks = input('Enter your marks: ')
print('Name of candidate :',name)
print('Age of candidate :',age)
print('Marks of candidate :',marks)

Enter your name: Krishan
Enter your age: 22
Enter your marks: 98
Name of candidate : Krishan
Age of candidate : 22
Marks of candidate : 98

## Indexing and slicing in sequence

In [37]:
string = 'Welcome'

In [38]:
string[2]  # you can passindex number in [] in order to get the  charater

'l'

In [39]:
string[-5]

'l'

In [43]:
string[0:4]

'Welc'

In [46]:
string[5:]  # from 5 to end

'me'

In [47]:
string[-4:]

'come'

In [48]:
string = 'Hello friend'

In [51]:
string[:-7]

'Hello'

In [52]:
string[4:1]

''

In [66]:
string = 'Hello my friend'
print(string[4])     
print(string[-4])
print(string[2:9])
print(string[:3])
print(string[-3:])
print(string[3:])
print(string[:-3])
print(string[11:2])
print(string[-7:-2])
print(string[:])

o
i
llo my
Hel
end
lo my friend
Hello my fri

 frie
Hello my friend

## Operator in python

### Ariithmatic Operators

In [67]:
# +, -, *, /, //(floor division), %, **

In [68]:
12+13

25

In [2]:
23.12 + 18.2

41.32

In [74]:
0.1 + 0.1 + 0.1

0.30000000000000004

In [78]:
'Hello' + ' Friend'

'Hello Friend'

In [79]:
2+8j + 9+9j

(11+17j)

In [81]:
True + True

2

In [82]:
True + False

1

In [83]:
False + False

0

In [85]:
True - False

1

In [86]:
23.12 * 3

69.36

In [92]:
'HELLO ' *5

'HELLO HELLO HELLO HELLO HELLO '

In [100]:
(2+7j) * (3-2j)

(20+17j)

In [104]:
5/2

2.5

In [2]:
5//2  # floor division

2

In [107]:
81/7

11.571428571428571

In [108]:
81//7

11

In [109]:
5%3  #remainder

2

In [110]:
4**3

64

In [111]:
9**2

81

In [112]:
36**0.5

6.0

In [119]:
# Q1: Add two number
num1 = 23
num2 = 42
num1 + num2

65

In [4]:
num1=int(input('Enter the first number'))
num2=int(input('Enter the second number'))
print('sum:',num1+num2)

Enter the first number3
Enter the second number4
sum: 7

In [3]:
# Q2: Add two number given by user
num1 = int(input('num1 = '))
num2 = int(input('num2 = '))
print('sum =',num1 + num2)

num1 = 3
num2 = 4
sum = 7

In [125]:
# Q2: Accept the base and height  of triangle and calculate its  area
base = int(input('base = '))
height = int(input('height = '))
print('Area = ',1/2 *base * height)

base = 5
height = 10
Area =  25.0

In [131]:
# Accept marks of student in 3 subject and calculate percentage
Maths = float(input('Marks in maths = '))
English = float(input('Marks in english = '))
Science = float(input('Marks in science = '))
print('Total percentage = ',(Maths + English + Science)/3, '%')

Marks in maths = 95
Marks in english = 90
Marks in science = 85
Total percentage =  90.0 %

In [157]:
# Accept the height of a tree in meter and display it into feet and inches
height = float(input('Enter height of tree in meter is '))
height_in_inches = (height/0.0254)
print(height_in_inches)
height_in_feet = (height_in_inches//12)
print(height_in_feet)
print( height_in_feet, 'and', round(height_in_inches))

Enter height of tree in meter is 40
1574.8031496062993
131.0
131.0 and 1575

In [165]:
# Accept a  number from user and display its last digit
num = int(input('Enter a number '))
print(num%10)

Enter a number 345678
8

In [5]:
# Display real and imaginary part of complex number
num = complex(input('Enter a complex ='))
print('Real:', num.real)
print('Imaginary:', num.imag)

Enter a complex =4+8j
Real: 4.0
Imaginary: 8.0

In [8]:
n=4+7j
n.imag

7.0

In [2]:
x = 4.5
y = 2
print(x//y)

2.0

In [12]:
number = int(input('Enter the number: '))
print('3 successors are', number+1, number+2, number+3)

Enter the number: 7
3 successors are 8 9 10

In [13]:
Price = float(input('Enter the price: '))
Quantity = float(input('Enter the quantity: '))
print('Your total bill is ', Price * Quantity)

Enter the price: 46
Enter the quantity: 6.5
Your total bill is  299.0

### Comparision Operators(Relational)

In [14]:
# >, <, >=, <=, ==, !=  (Output boolean)

In [15]:
34>54

False

In [16]:
91 >= 54

True

In [17]:
'Delhi' > 'Mumbai'

False

In [20]:
'delhi' > 'dehradhun'

True

In [21]:
'delhi' > 'Delhi'

True

In [22]:
ord('D')

68

In [23]:
ord('d')

100

In [28]:
'mini' > 'minimum'

False

In [29]:
'pune' <= 'pune'

True

In [30]:
'pune' != 'delhi'

True

### logical Operators

In [32]:
# and, or, not

In [33]:
# And logic : It is true only when both the inputs are true
# inp1  inp2  out
#  T     T     T
#  T     F     F
#  F     T     F
#  F     F     F

# OR logic : It is false only when both the inputs are false
# inp1  inp2  out
#  T     T     T
#  T     F     T
#  F     T     T
#  F     F     F

# Not Logic
# inp  out
#  T    F
#  F    T

In [34]:
True and False

False

In [36]:
78>34 and 54!=34

True

In [37]:
'Delhi' < 'delhi' or 76<34

True

In [39]:
'hello' < 'Hi' or 87==78

False

In [42]:
not True

False

In [43]:
not False

True

In [46]:
not 'delhi' > 'Pune'

False

## Assingment Operators

In [52]:
a = 34  # Assign value 34 in variable a

In [53]:
a == 45 # it will comapre if a is equal to 45 or not

False

In [54]:
# =, +=, -=, *=, /=

In [55]:
# update the value of a (increment of 2)

In [56]:
a

34

In [58]:
a = 34
a += 2 # a = a +2
a

36

In [59]:
a = 34
a -= 4 # a = a - 4
a

30

In [64]:
num = 4
num *= 3 # num = num*3
num

12

In [65]:
num /=3 # num = num / 3
num

4.0

In [67]:
num **= 2 # num = num**2
num

16.0

## Flow control statements

In [68]:
# if statements
# if - else statements
# if - elif - else statements
# nested if-else statements

In [69]:
# syntax of if
# code 1
# code 2
# if condition :
#     body of if (code 3)
#     body of if (code 4)
# body of if means code 3 and code 4 will only run when condition in if is true

In [11]:
num = int(input('Enter a number '))
if num==5:
        print('Your entered 5') # Statement will be executed only when the condition is true
        print('thanks')
print('thanks')

Enter a number 5
Your entered 5
thanks
thanks

In [9]:
# syntax of if
# code 1
# code 2
# if condition :
#     body of if (code 3)
#     body of if (code 4)
# else condition :
#     body of else (code 5)
#     body of else (code 6)
# code 3 and code 4 will execute when condition in if is true
# code 5 and code 6 will execute when condition in if is false

In [10]:
num = int(input('Enter a number '))
if num%2==0:
        print('Even')
else :
    print('Odd')

Enter a number 5
Odd

In [85]:
# Take two numbber and print the greatest number

In [86]:
a = int(input('Enter the number a '))
b = int(input('Enter the number b '))
if a>b:
    print(a)
else :
    print(b)

Enter the number a 5
Enter the number b 3
5

In [87]:
# read the number of classes held, number of classes attented and calculated the attendance of the student
# If attendance is lower than 75%  print not allowed to write an exam, otherwise print you can collect your admit card

In [13]:
Total_class = int(input('Enter the total classes held '))
Attended_class = int(input('Enter the classes attended '))
Attendance = round((Attended_class/Total_class)*100,2)
print('Attendance is ', Attendance, '%')
if Attendance >75:
    print('You can collect your admit card')
else :
    print('You are not allowed to write an exam')

Enter the total classes held 45
Enter the classes attended 22
Attendance is  48.89 %
You are not allowed to write an exam

In [103]:
# Read the percentage secured in 12th and the percentile got in entrance. the criteria of admission isstudent must get 75% and above in 12th and must be in top 10 percetiles in entrance. Write a program to tell if a student has admission or not

In [108]:
Marks_of_12th = int(input('Enter the marks got in 12th: '))
percentile_in_entrance = int(input('Enter the percentile got in entrance: '))

if Marks_of_12th >= 75 and percentile_in_entrance >= 90:
    print('You are admitted')
else :
    print('Better luck next time')

Enter the marks got in 12th: 75
Enter the percentile got in entrance: 90
You are admitted

In [109]:
# if- elif - else
# code 1
# code 2
# if condition :
#     body of if (code 3)
#     body of if (code 4)
# elif condition :
#     body of elif (code 5)
#     body of elif (code 6)
# else condition :
#     body of else (code 7)
#     body of else (code 8)
# code 3 and code 4 will execute when condition in if is true
# code 5 and code 6 will execute when condition in elif is true
# code 7 and code 8 will execute when condition in above both condition is false

In [110]:
# Read a number from the user and print positive, negative and zero

In [114]:
num = int(input('Enter a number: '))
if num > 0:
    print('Positive Number')
elif num < 0:
    print('Negative Number')
else :
    print('Zero')

Enter a number: 0
Zero

In [115]:
# read the number of classes held, number of classes attented and calculated the attendance of the student
# The student is allowed for exam only if attenace is greater than 75%, but there is grace of 5% in attendance if student has medical certificate but below 70% he is not allowed
# If attendance is lower than 75%  print not allowed to write an exam, otherwise print you can collect your admit card

In [141]:
total_classes = int(input("Enter total classes : "))
classes_attended = int(input("Enter classes attended : "))
attendence_percent = (classes_attended/total_classes)*100
print("Attendence : ", round(attendence_percent, 2))
if attendence_percent >= 75:
    print('You can collect your admit card')
elif (70<= attendence_percent):
    print('You have to show medical certificate to appear for exam')
else :
    print('You are not allowed to write an exam')

Enter total classes : 55
Enter classes attended : 54
Attendence :  98.18
You can collect your admit card

# ITP

In [10]:
# Implicit type conversion
2.5 + 2

4.5

In [11]:
11**3

1331

In [12]:
2+7j + 6.4

(8.4+7j)

In [14]:
'hello '*3

'hello hello hello '

In [15]:
# Explicit DataTyp

In [16]:
type(67)

int

In [17]:
float(67)

67.0

In [19]:
complex(6)

(6+0j)

In [20]:
str(243)

'243'

In [21]:
bool(34)

True

In [22]:
complex(0)

0j

In [24]:
bool('') # nothing will give false / space will give true

False

In [25]:
# Q: use the appropriate explicit type casting
# 67 + '111'
# 'harvy'+'spector'+1201+'@gmail.com'

In [26]:
67 + int('111')

178

In [27]:
'harvy'+'spector'+str(1201)+'@gmail.com'

'harvyspector1201@gmail.com'

In [29]:
# Q: Write the datatype of expeted result
# 78 + 12.21    float
# 3 + (-1+2J)   complex
# 56.32 + 11 + (9+5j)   complex

### print

In [42]:
print(67,'hello','how r you')

67 hello how r you

In [45]:
# I'll say hello to her
print("I'll say hello to her")

I''ll say hello to her

In [49]:
# I'll say "Thank You"
print('''I'll say "Thank You"''')

I'll say "Thank You"

In [65]:
# multiple line
print('''Hello I am Krishan
I am from Gurgaon
Study at Great learning''')

Hello I am Krishan
I am from Gurgaon
Study at Great learning

In [64]:
'''Hello I am Krishan
 I am from Gurgaon
 Study at Great learning'''

'Hello I am Krishan\n I am from Gurgaon\n Study at Great learning'

In [3]:
'''Hello I am Krishan\nI am from Gurgaon
Study at Great learning'''

'Hello I am Krishan\nI am from Gurgaon\nStudy at Great learning'

In [51]:
# Q. Run the following string with and without print() and compare the differences.

# "Look out! Don't trip over." Alice yelled.

# 'My name is Alice
# I live in paris
# I would like to visit India'

In [56]:
'''"Look out! Don't trip over." Alice yelled.'''
"'My name is Alice"
# 'My name is Alice
# I live in paris
# I would like to visit India'

"'My name is Alice"

In [61]:
print('''"Look out! Don't trip over." Alice yelled.''')

print("'My name is Alice")
print('I live in paris')
print("I would like to visit India'")
print('"Look out! Don\'t trip over." Alice yelled.')

"Look out! Don't trip over." Alice yelled.
'My name is Alice
I live in paris
I would like to visit India'
"Look out! Don't trip over." Alice yelled.

In [74]:
print(''''My name is Alice'
'I live in paris
I would like to visit India''')

'My name is Alice'
'I live in paris
I would like to visit India

In [75]:
print('My name is Alice\nI live in paris\nI would like to visit India')

My name is Alice
I live in paris
I would like to visit India

In [9]:
print('Hello','Lets meet','at',12,sep='_')

Hello_Lets meet_at_12

In [93]:
print('Ajay',23,89.43, sep='-->')

Ajay-->23-->89.43

In [95]:
print('Ajay',23,89.43, sep='\n')

Ajay
23
89.43

In [96]:
print('Hello',end=' ')
print(65,end=' ')
print(12.23)

Hello 65 12.23

# Q Display the following using single print()
# one    two    three
# four   five    six
print('one','two','three\nfour','five','six',sep='\t')

In [12]:
print('i live in gurgugram\nin sector 46')

i live in gurgugram
in sector 46

In [13]:
print('one','two','three\nfour','five','six',sep='\t')

one	two	three
four	five	six

In [15]:
print('one\ntwo\nthree\nfour\nfive\nsix')

one
two
three
four
five
six

In [106]:
# Use of end and sep variable in print()
# print date 21-8-2023

In [110]:
print(21,8,2023,sep='-')

21-8-2023

In [113]:
# Print Ajay, vikas, mohan with a line gap in between
print('Ajay',end='\n\n')
print('Vikas',end='\n\n')
print('Mohan')

Ajay

Vikas

Mohan

In [119]:
a = 56.34
# a= varable, '=' = assingment operator,  65 = value
a

56.34

In [120]:
type(a)

float

In [ ]:
# Take three variables name, age and marks and print the following
# 'Ajay is 19 years old and he has scored 87% of marks'

In [129]:
name = 'Ajay'
age = 19
marks = 87
print(name,'is',age, 'years old and he has scored',marks,'% of marks')

Ajay is 19 years old and he has scored 87 % of marks

In [131]:
a,b,c = 34,78,21

In [135]:
print(a,b,c)

34 78 21

In [17]:
rohit = mohit = ajay =21

In [19]:
print(rohit,mohit,ajay)

21 21 21

In [144]:
# Swap the values a = 78, b = 81 without using third variable
a = 78
b = 81
a,b =b,a
print(a,b)

81 78

In [150]:
# Assign your name in three different variables in one line
a = b = c ='Krishan'
print(a,b,c)

Krishan Krishan Krishan

In [151]:
23.6543 * 3.76543

89.068610849

In [153]:
76/2

38.0

In [155]:
76//2

38

In [157]:
78%4

2

In [158]:
# Paranthesis: ()
# Exponent: ** (R to L)
# Modulus,Division,Multiplication: %,/,//,*  (L to R)
# Addition, Subtraction: +,- (L to R)

In [164]:
# Write the expeted outcome of the following code
# 8-3*2 = 2
# 8//2+3*2 = 10
# 10//2**2+3*2 = 8
# 81//3**2**2 = 1
# 8**2%(3+4)*2**2 = 4

4

In [1]:
# Enter the price and qty of product and display the bill amount
#if the product has 25% discount

In [2]:
price = float(input('Enter price of product'))
qty = float(input('Enter quantity of product'))
bill = price*qty
print('Your total bill after discount: ',bill*0.75)

Enter price of product500
Enter quantity of product4
Your total bill after discount:  1500.0

In [11]:
price = float(input('Enter the price of product: '))
qty = int(input('Enter the qty of product: '))
total_bill = price *qty
print('Your bill: ',total_bill*0.75)

Enter the price of product: 250
Enter the qty of product: 4
Your bill:  750.0

## Relation Operator

In [ ]:
# <,>,>=,<=,==,!=

In [12]:
65>88

False

In [13]:
'delhi'> 'mumbai'        # to check  ord('d')

False

In [14]:
'gujrat'>'Gao'

True

In [15]:
'fair'=='fairly'

False

In [16]:
'delhi'!='Delhi'

True

In [17]:
# Q: If a = 12, b= 15, c = a+b and d = 2*a - b then write the output of the following
# a<b          true
# c>b          true
# d==11        false
# d<=c         true
# 27>=b        true
# a!=b         true

In [25]:
a,b=12,15
c=a+b
d=2*a-b
print(a,b,c,d)

12 15 27 9

## Logical Operator

In [26]:
# OR Logic
# True or True --> True
# True or False -->True
# False or True -->True
# False or False-->False

# AND Logic
# True and True --> True
# True and False -->False
# False and True -->Fasle
# False and False-->False

# not logic
# not True --> False
# not False --> True

In [28]:
False or True

True

In [29]:
False and True

False

In [30]:
# Write the output of the following
# 78<98 or 6>=8        true
# 8//3==2 and 81!=18   true
# 7%5==3 and not(6//2==3)     false
# 'Delhi' >'delhi' and 'mumbai'<'Mumbai' and 'dog'>'cat'  false

In [35]:
False or not False or False

True

## Bitwise Operator

In [40]:
# & --> Bitwise and
# | --> Bitwise or

In [ ]:
# bitwise &
# 1 & 1 -->1
# 1 & 0 -->0
# 0 & 1 -->0
# 0 & 0 -->0

# bitwise |
# 1 | 1 -->1
# 1 | 0 -->1
# 0 | 1 -->1
# 0 | 0 -->0

In [56]:
bin(8)  #-- check binary representation

'0b1000'

In [39]:
7&5

5

In [41]:
7|5

7

In [6]:
5|4

5

In [3]:
bin(5)

'0b101'

In [4]:
bin(4)

'0b100'

In [45]:
23&31
# 23 --> 10111
# 31 --> 11111
# out --> 10111   --> 23

23

In [47]:
35&31
# 35 --> 100011
# 31 --> 011111  (0 is use to equal the number of digit)
# & out --> 000011  --> 3
# | out--> 111111 --> 63
# to check vise versa --> int(0b11)

3

In [57]:
bin(121)

'0b1111001'

In [64]:
print(bin(57))
print(bin(121))

0b111001
0b1111001

In [63]:
57&121
# 0111001

57

In [73]:
bin(111)

'0b1101111'

In [74]:
bin(100)

'0b1100100'

In [75]:
111&100
# --> 1100100

100

## Membership Operator

In [77]:
# in , not in

In [79]:
'm' in'mumbai'

True

In [80]:
'D' in 'delhi'

False

In [10]:
string = 'Krishan'
var = 'Kr'
print(var in string)
print(var not in string)

True
False

In [81]:
'k' not in 'knife'

False

In [82]:
12 in [34,56,32,53,12]

True

In [83]:
12 not in [34,56,32,53,12]

False

In [85]:
'hello' not in [34,56,32,53,12,'hi']

True

## More Assingment Operator

In [97]:
a= 23
b=56

In [93]:
# a = a+2
a+=2
a

25

In [98]:
# b = b-6
b -= 6
b*= 2
b

100

In [99]:
b

100

In [1]:
name = 'krishan'

In [2]:
names = name

In [3]:
print(names)

krishan

In [4]:
print(name)

krishan